body{
    background-color: rgb(16,16,16);
    font-family: monospace;
    /* test */
}

#bg{
    font-family: monospace;
    letter-spacing: .08em;
    line-height: 2;
    background-image: url("images/flower.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#projects{
    height: 100vh;
    width: 100vw;
    color: rgb(255,250,220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#qualifications{
    height: 100vh;
    color: rgb(255,250,220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

#me{
    height: 100vh;
    padding: 10px;
    color: rgb(255,250,220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

#q{
    display: flex;
    justify-content: center;
    align-items: center;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#welcome{
    margin-top: 20vh;
    text-align: center;
    color: rgb(16,16,16);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    height: 20vh;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(255,250,220);
}

.navbar button{
    border: 0;
    display: block;
    background-color: rgba(0,0,0,0);
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 33%;
    font-size: 17px;
}

.navbar button:hover{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 33%;
    border-radius: 5px;
}

.navbar button.active{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 33%;
    border-radius: 5px;
}

#fade{
    opacity: 0;
    animation: 1s ease 1s normal forwards 1 fadein;
}

#hl{
    float: left;
    width: 40%;
    text-align: right;
}

#hc{
    width: 20%;
}

#hr{
    float: right;
    width: 40%;
    text-align: left;
}

#fade1{
    opacity: 0;
    animation: 1s ease 0s normal forwards 1 fadein;
    /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; */
}

#fade2{
    opacity: 0;
    animation: 1s ease 1s normal forwards 1 fadein;
    /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; */
}

@keyframes typing {
    from {width: 0%}
    to {width: 100%}
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

h2{
    padding-bottom: 20px;
}

h5{
    padding-top: 15px;
}

img{
    max-width: 30vw;
    height: auto;
}
